@import url(http://fonts.googleapis.com/css?family=Raleway);
* {
    font-family: 'Raleway', sans-serif;
}

#logo {
    border-radius: 110px;
    border-style: solid;
    border-width: 4px;
    /* border-color: #ff0000 #0000ff;*/
    
    border-color: black;
    box-shadow: -12px 11px 75px 2px rgba(0, 0, 0, 0.75);
}

.bgwidth {
    width: 100%;
}

.bgheight {
    height: 100%;
}

.white-back {
    background: white;
}

.image {
    position: relative;
    width: 100%;
    /* for IE 6 */
}

h2 {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
}

h2 span {
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0);
    /* fallback color */
    
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

h2 span.spacer {
    padding: 0 5px;
}

.tabs {
    *zoom: 1;
    margin-bottom: 0 !important;
}

.tabs:before,
.tabs:after {
    content: " ";
    display: table;
}

.tabs:after {
    clear: both;
}

.tabs dd {
    position: relative;
    margin-bottom: 0 !important;
    top: 1px;
    float: left;
}

.tabs dd > a {
    display: block;
    background: #efefef;
    color: #222222;
    padding-top: 0.88889rem;
    padding-right: 1.77778rem;
    padding-bottom: 0.94444rem;
    padding-left: 1.77778rem;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    font-size: 0.88889rem;
}

.tabs dd > a:hover {
    background: #e2e2e2;
}

.tabs dd.active a {
    background: white;
}

.tabs.radius dd:first-child a {
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.tabs.radius dd:last-child a {
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.tabs.vertical dd {
    position: inherit;
    float: none;
    display: block;
    top: auto;
}

.tabs-content {
    *zoom: 1;
    margin-bottom: 1.33333rem;
}

.tabs-content:before,
.tabs-content:after {
    content: " ";
    display: table;
}

.tabs-content:after {
    clear: both;
}

.tabs-content > .content {
    display: none;
    float: left;
    padding: 0.83333rem 0;
}

.tabs-content > .content.active {
    display: block;
}

.tabs-content > .content.contained {
    padding: 0.83333rem;
}

.tabs-content.vertical {
    display: block;
}

.tabs-content.vertical > .content {
    padding: 0 0.83333rem;
}

@media only screen and (min-width: 40.063em) {
    .tabs.vertical {
        width: 20%;
        float: left;
        margin-bottom: 1.25rem;
    }
    .tabs-content.vertical {
        width: 80%;
        float: left;
        margin-left: -1px;
    }
}

.padding {
    padding: 10px;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
